<a href="https://colab.research.google.com/github/12345678-ram/python-assignment-2/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
   #question 1
   year=int(input("Enter the year"))
   if year%12==0:
      print("monkey")
   elif year%12==1:
      print("rooster")
   elif year%12==2:
      print("dog")
   elif year%12==3:
      print("pig")
   elif year%12==4:
      print("rat")
   elif year%12==5:
      print("ox")
   elif year%12==6:
      print("rabbit")
   elif year%12==7:
      print("tiger")
   elif year%12==8:
      print("dragon")
   elif year%12==9:
      print("snake")
   elif year%12==10:
      print("horse")
   else:
      print("sheep")

Enter the year2012
dragon

In [ ]:
#question 2
d=int(input("Distance to be travelled :"))
w=int(input("weight of the goods :")) 
if d>=500:
    if w>=100:
       Amount = 5*distance
       print("Amount to be charged :",Amount) 
    elif w>=10 and w<100:
       Amount =6*d
       print("Amount to be charged :",Amount) 
    elif d<500 :
        if w>=100 :
           Amount =8*d
           print("Amount to be charged :",Amount) 
    elif w<100 :
         Amount =5*d
         print("Amount to be charged :",Amount) 
    else:
       print("invalid")

Distance to be travelled :520
weight of the goods :50
Amount to be charged : 3120

In [ ]:
#question 3
T=input("Type of seat:")
p=input("payment mode:")
if T=="stall":
   cot=625
elif T=="circle":
   cot=750
elif T=="upper class":
   cot=850
elif T =="Box":
   cot=1000
else:
   print("invalid")
if p=='cash':
   cot=(cot-(cot*10)//100)
else:
   cot=(cot-(cot*5)//100)
print("cost of ticket :",cot)

Type of seat:circle
payment mode:cash
cost of ticket : 675

In [ ]:
#question 4
M=float(input("Enter the amount of water in kilograms :"))
initialTemperature=float(input("Enter initialTemperature of water in degree Celsius:"))
finalTemperature=float(input("Enter finalTemperature of water in degree Celsius:"))
Q=M*(finalTemperature-initialTemperature)*4184
print(f'Energy required to heat the water = {Q}joules')

Enter the amount of water in kilograms :20
Enter initialTemperature of water in degree Celsius:6
Enter finalTemperature of water in degree Celsius:8
Energy required to heat the water = 167360.0joules

In [ ]:
#question 5
month=input("Enter month:")
if month=="December" or month=="January" or month=="february":
   print("Winter")
elif month=="March" or month=="april" or month=="may":
   print("Spring")
elif month=="june" or month=="july" or month=="august":
   print("Summer")
else:
   print("Autumn")

Enter month:January
Winter

In [ ]:
#question 6
w=float(input("Enter the weight in pounds:"))
m=0.45359237*w
h=float(input("Enter the height in inches:"))
i=0.0254*h
BMI=(m/(i**2))
print (BMI)
if(BMI<18.5):
  print("Underweight")
elif(BMI>18.5 and BMI<25.0):
  print("Normal")
elif(BMI>25.0 and BMI<30.0):
  print("Overweight")
else:
  print("Obese")

Enter the weight in pounds:15
Enter the height in inches:15
46.87130530927728
Obese

In [ ]:
#question 7
n=int(input("Enter an integer between 100 and 1000:"))
sum=0
while(n>0):
  r=n%10
  n=n//10
  sum=sum+r
print(sum)

Enter an integer between 100 and 1000:122
5

In [ ]:
#question 8
for n in range (1,1000):
    temp=n
    sum=0
    while n>0:
          R=n%10
          sum=sum*10+R
          n=n//10
    if sum==temp:
       print(sum,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#question 9
for n in range (1,1000):
  sum=0
  temp=n
  while n>0:
    R=n%10
    n=n//10
    sum+=R*R*R
  if sum==temp:
    print(temp,end=" ")

1 153 370 371 407

In [ ]:
#question 10
num=100
for i in range(1,100):
    if i%3==0:
       print("Fizz")
    elif i%5==0:
       print("Buzz")
    elif i%3==0 and i%5==0:
       print("fizz buzz")
    else:
       print("")

Fizz

Buzz
Fizz


Fizz
Buzz

Fizz


Fizz


Fizz

Buzz
Fizz


Fizz
Buzz

Fizz


Fizz


Fizz

Buzz
Fizz


Fizz
Buzz

Fizz


Fizz


Fizz

Buzz
Fizz


Fizz
Buzz

Fizz


Fizz


Fizz

Buzz
Fizz


Fizz
Buzz

Fizz


Fizz


Fizz

Buzz
Fizz


Fizz
Buzz

Fizz


Fizz


Fizz

Buzz
Fizz


Fizz

In [ ]:
#question 11
H=int(input("Enter height of the well:"))
U=int(input("Enter the meters which is climbed:"))
D=int(input("Slips down:"))
step=((H-U)+(U-D))//(U-D)
print(step+1)

Enter height of the well:100
Enter the meters which is climbed:20
Slips down:1
6